
/* ------------------------------ Create User ------------------------- */

#container{

	
	text-align:left;
}
#contact_form{
	padding:0 10px 10px;
}
#contact_form label{
	display:block;
	color:#797979;
	font-weight:700;
	line-height:1.4em
}
#contact_form input{
	width:220px;
	padding:6px;
	color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #cecece;
}
#contact_form input.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#contact_form text{
width:550px;
height:80px;
padding:6px;
color:#adaeae;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
font-size:12px;
border:1px solid #cecece;
}
#contact_form textarea.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#contact_form div{
	margin-bottom:15px;
}
#contact_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#contact_form div span.error{
	color:#e46c6e;
}
#contact_form #send{
	background:#6f9ff1;
	color:#fff;
	font-weight:700;
	font-style:normal;
	border:0;
	cursor:pointer;
}
#contact_form #send:hover{
	background:#79a7f1;
}
#error{
	margin-bottom::20px;
	border:1px solid #efefef;
}
#error ul{
	list-style:square;
	padding: 5px;
	font-size:11px;
}
#error ul li{
	list-style-position:inside;
	line-height:1.6em;
}


/*-----------------------Upgrade Form-----------------------------------*/
#change_password{
	padding:0 10px 10px;
}
#change_password label{
	display:block;
	color:#797979;
	font-weight:700;
	line-height:1.4em
}
#change_password input{
	
	padding:6px;
	color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #cecece;
}
#change_password input.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#change_password text{
width:550px;
height:80px;
padding:6px;
color:#adaeae;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
font-size:12px;
border:1px solid #cecece;
}
#change_password textarea.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#change_password div{
	margin-bottom:15px;
}
#change_password div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#change_password div span.error{
	color:#e46c6e;
}

#change_password #upgrade{
	background:#6f9ff1;
	color:#fff;
	font-weight:700;
	font-style:normal;
	border:0;
	cursor:pointer;
}
#change_password #upgrade:hover{
	background:#79a7f1;
}






#basic_profile{
	padding:0 10px 10px;
}
#basic_profile label{
	display:block;
	color:#797979;
	font-weight:700;
	line-height:1.4em
}
#basic_profile input{
	width:220px;
	padding:6px;
	color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #cecece;
}
#basic_profile input.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#basic_profile text{
width:550px;
height:80px;
padding:6px;
color:#adaeae;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
font-size:12px;
border:1px solid #cecece;
}
#basic_profile textarea.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#basic_profile div{
	margin-bottom:15px;
}
#basic_profile div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#basic_profile div span.error{
	color:#e46c6e;
}

#basic_profile #upgrade{
	background:#6f9ff1;
	color:#fff;
	font-weight:700;
	font-style:normal;
	border:0;
	cursor:pointer;
}
#basic_profile #upgrade:hover{
	background:#79a7f1;
}

/*-----------------------Upgrade Form-----------------------------------*/

.modal-body .intro{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
/*--------------------------Add_location_form---------------------------------
#add_location_form{
	padding:0 10px 10px;
}
#add_location_form label{
	display:block;
	color:#797979;
	font-weight:700;
	line-height:1.4em
}
#add_location_form input{
	width:220px;
	padding:6px;
	color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #cecece;
}
#add_location_form input.error{
	background:#f8dbdb;
	border-color:#e77776;
}
/*
#add_location_form text{
width:550px;
height:80px;
padding:6px;
color:#adaeae;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
font-size:12px;
border:1px solid #cecece;
}
#add_location_form textarea.error{
	background:#f8dbdb;
	border-color:#e77776;
}
/*
#add_location_form div{
	margin-bottom:15px;
}*/
#add_location_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#add_location_form div span.error{
	color:#e46c6e;
}
/*--------------------------Add_new_main_device---------------------------------*/
#add_mainDevice_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#add_mainDevice_form div span.error{
	color:#e46c6e;
}

/*--------------------------Add_new_sub_device---------------------------------*/
#add_subDevice_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#add_subDevice_form div span.error{
	color:#e46c6e;
}

/*-----------------------Add_new_package Form-----------------------------------*/
#add_newPackage_form{
	padding:0 10px 10px;
}
#add_newPackage_form label{
	display:block;
	color:#797979;
	font-weight:700;
	line-height:1.4em
}
#add_newPackage_form input{
	width:220px;
	padding:6px;
	color:#949494;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #cecece;
}
#add_newPackage_form input.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#add_newPackage_form text{
width:550px;
height:80px;
padding:6px;
color:#adaeae;
font-family:Arial, Helvetica, sans-serif;
font-style:italic;
font-size:12px;
border:1px solid #cecece;
}
#add_newPackage_form textarea.error{
	background:#f8dbdb;
	border-color:#e77776;
}
#add_newPackage_form div{
	margin-bottom:15px;
}
#add_newPackage_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#add_newPackage_form div span.error{
	color:#e46c6e;
}

#add_newPackage_form #add{
	background:#6f9ff1;
	color:#fff;
	font-weight:700;
	font-style:normal;
	border:0;
	cursor:pointer;
}
#add_newPackage_form #add:hover{
	background:#79a7f1;
}
/*-----------------define device --------------------------- */

#define_device_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#define_device_form div span.error{
	color:#e46c6e;
}

/*-----------------power device --------------------------- */

#power_device_form div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#power_device_form div span.error{
	color:#e46c6e;
}

/*--------------- Update packages form --------------------*/
#upgrade_formnew div span{
	margin-left:10px;
	color:#b1b1b1;
	font-size:11px;
	font-style:italic;
}
#upgrade_formnew div span.error{
	color:#e46c6e;
}

